*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --color-fondo: #E9F5DB;
    --color-buttom: #718355;
}

body{
    background-color: var(--color-fondo);
}

.header-container-principal{
    width: 100%;
    height: auto;
    align-items: center;
}

.navegador-header{
    margin: 30px;
    display: grid;
    grid-template-columns: repeat(2,auto);
    align-self: center;
}

.contendor-lista .lista-header{
    height: 100%;
    display: grid;
    grid-template: auto /repeat(6,auto);
    place-items: center;
}

.contendor-lista ul, a{
    list-style: none;
    text-decoration: none;
    font-family: Imbue;
    font-weight: 300;
    font-size: 25px;
    color: black;
}

.lista-header .button button{
    width: 130px;
    height: 40px;
    background-color: var(--color-buttom);
    border-radius: 10px;
    color: white;
    font-size: 16px;
    box-shadow: 0 0 10px rgba(0,0,0,0.8);
}

.card-container{
    height: auto;
    min-width: 600px;
    margin: 10px 100px 20px 100px;
    display: grid;
    grid-template: auto / repeat(2,1fr) ;
    padding-left: center;
    align-items: center;
}

.card-text h1{
    padding-bottom: 20px;
    font-size: 80px;
    font-family: Imbue;
    font-weight: 600;
}

.card-text p{
    padding-bottom: 30px;
    padding-right: 200px;
    font-size: 25px;
    font-weight: 200;
    font-family: Imbue;
}

.card-container button{
    margin-top: 15px;
    width: 200px;
    height: 50px;
    border-radius: 15px;
    background-color: var(--color-buttom);
    color: white;
    box-shadow: 0 0 20px rgba(0,0,0,0.8);
    font-size: 20px;
}

